<!--ns Home sivu-->

<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}

<div class="grid-container">
  <div class="item1">
    <h2>Elefant</h2>
    {% if user.is_authenticated %}
      <p>Kirjautuneena: {{ user.username }}</p>
    {% endif %}
  </div>

  <div class="item2">
    {% if user.is_authenticated %}
      <form action="{% url 'loggedout' %}" method="post" class="form-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Kirjaudu ulos</button>
      </form>
    {% endif %}
  </div>

  <div class="item3">Main</div>  
  <div class="item4">Right</div>
  <div class="item5">Footer</div>
</div>

{% endblock %}
